<% if @user %>
  Hello, <%= @user.email %>

  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Logout">
  </form>
<% end %>

<%= flash[:notice] %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark">
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add comment">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add tag">
      </form>
      <% if bookmark.comments.any? %>
        Comments:
        <ul>
          <% bookmark.comments.each do |comment| %>
            <li><%= comment.text %></li>
          <% end %>
        </ul>
      <% end %>
      <% if bookmark.tags.any? %>
        Tags:
        <ul>
          <% bookmark.tags.each do |tag| %>
            <li><a href="/tags/<%= tag.id %>/bookmarks"><%= tag.content %></a></li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <hr>
  <% end %>
</ul>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark">
</form>
