<%= flash[:notice] %>

<% @bookmarks.each do |bookmark| %>
  <ul>
    <li class="bookmark">
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add comment">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add tag">
      </form>
      <% bookmark.comments.each do |comment| %>
        <ul>
          <li><%= comment.text %></li>
        </ul>
      <% end %>
      <% bookmark.tags.each do |tag| %>
        <ul>
          <li><%= tag.content %></li>
        </ul>
      <% end %>
    </li>
  </ul>
<% end %>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark">
</form>
